<p id="notice"><%= notice %></p>

<p>
  <strong>Moved in:</strong>
  <%= @ag_household_apartment.moved_in %>
</p>

<p>
  <strong>Moved out:</strong>
  <%= @ag_household_apartment.moved_out %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @ag_household_apartment.cost %>
</p>

<p>
  <strong>Ag apartment:</strong>
  <%= @ag_household_apartment.ag_apartment %>
</p>

<p>
  <strong>Ag household:</strong>
  <%= @ag_household_apartment.ag_household %>
</p>

<p>
  <strong>Ag public housing devel:</strong>
  <%= @ag_household_apartment.ag_public_housing_devel %>
</p>

<%= link_to 'Edit', edit_ag_household_apartment_path(@ag_household_apartment) %> |
<%= link_to 'Back', ag_household_apartments_path %>
