<p id="notice"><%= notice %></p>

<h1>Ag Households</h1>

<table>
  <thead>
    <tr>
      <th>Owned</th>
      <th>Subsidized</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ag_households.each do |ag_household| %>
      <tr>
        <td><%= ag_household.owned %></td>
        <td><%= ag_household.subsidized %></td>
        <td><%= link_to 'Show', ag_household %></td>
        <td><%= link_to 'Edit', edit_ag_household_path(ag_household) %></td>
        <td><%= link_to 'Destroy', ag_household, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ag Household', new_ag_household_path %>
