<p id="notice"><%= notice %></p>

<h1>Ag Household Members</h1>

<table>
  <thead>
    <tr>
      <th>Household</th>
      <th>Member</th>
      <th>Head</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ag_household_members.each do |ag_household_member| %>
      <tr>
        <td><%= ag_household_member.ag_household_id %></td>
        <td><%= ag_household_member.ag_resident_id %></td>
        <td><%= ag_household_member.head %></td>
        <td><%= link_to 'Show', ag_household_member %></td>
        <td><%= link_to 'Edit', edit_ag_household_member_path(ag_household_member) %></td>
        <td><%= link_to 'Destroy', ag_household_member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ag Household Member', new_ag_household_member_path %>
